<section id="about">

  <div class="about-container">
    <h2>About Competition</h2>
    <p>
      In April 1927, José María Acha, a director at Arenas Club de Getxo, first proposed the idea of a national league in Spain. After much debate about the size of the league and who would take part, the Real Federación Española de Fútbol eventually agreed on the ten teams who would form the first Primera División in 1929. Barcelona, Real Madrid, Athletic Bilbao, Real Sociedad, Arenas Club de Getxo and Real Unión were all selected as previous winners of the Copa del Rey. Atlético Madrid, Espanyol and Europa qualified as Copa del Rey runners-up and Racing de Santander qualified through a knockout competition. Only three of the founding clubs, Real Madrid, Barcelona and Athletic Bilbao, have never been relegated from the Primera División.
    </p>

    <div class="about-carousel">

      <div class="carousel-images">

        {% for item in site.data.about-carousel %}
        <div class="slide">
          <p>{{ item.name }}</p>
        </div>
        {% endfor %}

      </div>
      <div class="controlls">

        <div class="move-left">
          {% include icons/angle-pointing-to-left.svg %}
        </div>
        <div class="move-right">
          {% include icons/angle-pointing-to-right.svg %}
        </div>

      </div>
    </div>
  </div>

  <div class="about-carousel-viewbox">

    <div class="carousel-image"></div>

  </div>

</section>
