#about
  background-color: $section-background-color
  padding: 30px 0

  .about-container
    max-width: 1200px
    margin: 0 auto

    h2
      margin-top: 0
      text-align: center

    p
      margin-top: -10px
      text-align: center
      line-height: 2

    .about-carousel
      height: 250px
      margin-top: 40px

      .carousel-images
        margin: 0 auto
        position: relative
        +size(384px, 216px)

        .slide
          z-index: 1
          position: absolute
          left: 50%
          transform: translateX(-50%)
          +size(100%)

          // background-image was defined in function.js
          background: center center / cover no-repeat
          opacity: 0
          transition: opacity 1s ease-out

          &:first-child
            opacity: 1

          p
            position: absolute
            left: 50%
            transform: translateX(-50%)
            bottom: -50px

      .controlls
        position: relative
        max-width: 480px
        margin: 0 auto
        height: 32px

        .move-left, .move-right
          svg
            height: 32px
            position: absolute
            fill: rgba($black, 0.1)
            transition: fill 200ms
            cursor: pointer

            &:hover
              fill: $black
        .move-right
          svg
            right: 0

  .about-carousel-viewbox
    +position(fixed, 0 0 0 0)
    background-color: rgba(0, 0, 0, 0.9)
    z-index: 2
    display: none
    opacity: 0

    .carousel-image
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      +size(70%)
      background: center center / contain no-repeat

    .viewbox-controlls
      position: relative
      width: 80%
      margin: 0 auto
      height: 64px
      top: 50%
      transform: translateY(-50%)

      .move-left, .move-right
        display: inline-block
        +size(64px)

        svg
          height: 64px
          position: absolute
          fill: rgba($white, 0.2)
          transition: fill 200ms
          cursor: pointer

          &:hover
            fill: rgba($white, 0.5)
      .move-right
        svg
          right: 0
